/*--------------------------------------------------------------
## All Variable
----------------------------------------------------------------*/
:root {
  --web-wash: #0f1721;
  --heading-color: #fff;
  --body-color: rgba(255, 255, 255, 0.7);
  --ternary: #88a5ad;
  --accent-color: #66FFB3;
  --gray: #f7f7f7;
  --border: #dddddd;
  --heading-font: 'Conthrax', serif;
  --body-font: 'Urbanist', sans-serif;
}
